<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <style>
        table, th, td {
            border:1px solid black;
        }
    </style>
</head>
<body>
<h1>Person list</h1>

<a  th:href="@{'/addperson'}"> Add person</a>
<br>
<p></p>
<table style="width:50%">
    <tr>
        <td>First Name</td>
        <td>Last Name</td>
    </tr>
    <tr th:each="person : ${people}">
        <td th:text="${person.getFirstName()}">1</td>
        <td th:text="${person.getLastName()}">Text ...</td>
    </tr>
</table>



</body>
</html>